/* Custom fallback or additions if needed */
body {
  background-color: #fff;
}

.gallery-item {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.thumbnail {
  width: 300px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.modal {
  z-index: 999999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 80%; /* Limit the image size */
  max-height: 80%; /* Limit the image size */
  margin: auto; /* Center the image */
  display: block; /* Ensure it's a block element */
}

.spinner {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  vertical-align: middle;
  /* margin-left: 8px; */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
}

#submit-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
