/* Custom fallback or additions if needed */
body {
  background-color: #fff;
}

.gallery-item {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.thumbnail {
  width: 300px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.modal {
  z-index: 999999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 80%; /* Limit the image size */
  max-height: 80%; /* Limit the image size */
  margin: auto; /* Center the image */
  display: block; /* Ensure it's a block element */
}
